<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>this is view page</title>
</th:block>

<th:block layout:fragment="content">
    <div class="card-content">
        <div class="form-group">
            <label class="col-sm-2 control-label">제목</label>
            <div class="col-sm-10">
                <p class="form-control" id="title" th:text="${post.title}"></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">이름</label>
            <div class="col-sm-10">
                <p class="form-control" id="writer" th:text="${post.writer}"></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">내용</label>
            <div class="col-sm-10">
                <p class="form-control" id="content" th:text="${post.content}"></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">등록일</label>
            <div class="col-sm-10">
                <p class="form-control" th:text="*{#temporals.format( post.createdDate, 'yyyy-MM-dd HH:mm:ss' )}"></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">조회 수</label>
            <div class="col-sm-10">
                <p class="form-control" id="viewCnt" th:text="${post.viewCnt}"></p>
            </div>
        </div>

        <div class="btn_wrap text-center">
            <a th:href="@{/post/list.do}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
            <a th:href="@{/post/write.do( id=${post.id} )}" class="btn btn-primary waves-effect waves-light">수정하기</a>
            <button type="button" class="btn btn-danger waves-effect waves-light" onclick="deletePost();">삭제하기</button>
        </div>
    </div>
</th:block>


<th:block layout:fragment="add-content">
    <div class="box-content">
        <div class="card-content">
            <div class="clearfix">
                <h4 class="box-title pull-left">Comment</h4>
            </div>

            <form class="form-horizontal form-view">
                <div class="input-group margin-bottom-20">
                    <input type="email" class="form-control" placeholder="">
                    <div class="input-group-btn"><button type="button" class="btn waves-effect waves-light"><i class="fa fa-commenting" aria-hidden="true"></i></button></div>
                </div>
                <ul class="notice-list">
                    <li>
                        <span class="name">Betty Simmons</span>
                        <span class="desc">There are new settings available</span>
                        <span class="time">2019.03.26</span>
                        <button type="button" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
                    </li>
                    <li>
                        <span class="name">Betty Kim</span>
                        <span class="desc">There are new settings available</span>
                        <span class="time">2019.03.15</span>
                        <button type="button" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</th:block>



<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        window.onload = () => {
            renderPostInfo();
        }

        // 게시글 상세정보 렌더링
        function renderPostInfo(){
            const post = [[ ${post} ]];
            if ( !post ){
                return false;
            }

            const form = document.getElementById('saveForm');
            const fields = ['id', 'title', 'content', 'writer', 'noticeYN'];
            form.isNotice.checked = post.noticeYn;

            fields.forEach(field => {
                form[field].value = post[field];
            })
        }
        // 게시글 저장(수정)
        function savePost() {
            const form = document.getElementById('saveForm');
            const fields = [form.title, form.writer, form.content];
            const fieldNames = ['제목', '이름', '내용'];

            for (let i = 0, len = fields.length; i < len; i++) {
                if ( !isValid(fields[i], fieldNames[i]) ) {
                    return false;
                }
            }

            form.noticeYn.value = form.isNotice.checked;
            form.action = [[ ${post == null} ]] ? '/post/save.do' : '/post/update.do';
            form.submit();
        }

        // 게시글 삭제
        function deletePost() {
            const id = [[ ${post.id} ]];
            if ( !confirm(id + "번 게시글을 삭제할까요?") ) {
                return false;
            }

            const formHtml = `
                    <form id="deleteForm" action="/post/delete.do" method="post">
                        <input type="hidden" id="id" name="id" value="${id}" />
                    </form>
                `;
            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
            const form = doc.body.firstChild;
            document.body.append(form);
            document.getElementById('deleteForm').submit();
        }

        /*]]>*/
    </script>
</th:block>

</html>